<div class="center jumbotron">
  <h1>Demo App</h1>
 
  <h2>
    Welcome, we're working on getting our shit together, kThanxBye! 
  </h2>
  <%= link_to "Sign Up Today, FOO!!", "users/new", class: "btn btn-lg btn-primary" %>
</div>
