<div class="center jumbotron">
  <h1>Demo App</h1>
 
  <h2>
    Welcome, we're working on getting our shit together, kThanxBye! 
  </h2>
  <%= link_to "Help, Do you need somebody?!", help_path, class: "btn btn-lg btn-primary" %>
</div>
